.bg-grey {
    background-color: #121212;
}

.invert {
    filter: invert(1);
}

.flex{
    display: flex;
}

.justify{
    justify-content: center;
}

.align{
    align-items: center;
}

.bold{
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

/* Scrollbar */
.right::-webkit-scrollbar {
    width: 8px;
}

.right::-webkit-scrollbar-track {
    background: #121212;
}

.right::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

.right::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.songlist::-webkit-scrollbar {
    width: 5px;
}

.songlist::-webkit-scrollbar-track {
    background: #222;
}

.songlist::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px;
}